$mainColor: #49B4B4;
$fontColor: #0C2E2C;
$whiteColor: #fff;
$yellowColor: #FFC443;
$greenColor: #1B6B66;

.homeHeader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  pointer-events: none;
  transition: 0.3s linear;
  position: fixed;
  z-index: 3;
  .content{
    width: 100%;
    height: 27vh; //252÷(932÷100)=27
    min-height: 17vh; //163÷(932÷100)=17
    color: #fff;
    background: $mainColor;
    border-radius: 0 0 20px 20px;
    .dragWrap{
      display: flex;
      justify-content: center;
      // align-items: flex-end;
      // border:solid 1px tomato;
      .dragIcon{
        // padding: 15px 0;
        margin: -15px 0;
        cursor:grab;
        user-select: none;
        .dragSpan{
          height: 5px;
          width: 134px;
          background: #3A6577;
          display: block;
          border-radius: 10px;
        }
      }
    }
    .body{
      height: 100%;
      overflow: auto;
      padding: 41px 20px 40px;
      .head{
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user{
          width: 90%;
          height: 54px;
          display: flex;
          align-items: center;
            .icon{
              margin: 0 10px 0 0;
            }
            .userName{
              font-size: 16px;
            }
            .userText{
              font-size: 11px;
            }
          }
        }
      .evaluationWrrap{
        width: 100%;
        height: 76px;
        margin-top: 10px;
        padding: 4%;
        border: 1px solid #3A6577;
        background: #fff;
        color: #333;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .trophy{
          width: 12%;
          height: 42px;
        }
        .evaluationBox{
          width: 24%;
          .number{
            font-size: 18px;
            color: $mainColor;
            font-weight: bold;
          }
          .evaluation{
            font-size: 12px;
            font-weight: bold;
          }
        }
        .evaluationText{
          width:62%;
          color: $mainColor;
          padding: 0 0 0 2%;
          font-size: 12px;
          border-left: 1px solid $mainColor;
        }
      }
    }
  }
}
.background{
  overflow: hidden;
  .school{
    width: 100%;
    height: auto;
    margin-top: 40%;
    position: fixed;
    z-index: 0;
  }
  #backImg{
    width: 390px;
    height: 844px;
    position: fixed;
    z-index: -2;
  }
}


@media screen and (min-width: 391px){

  .homeHeader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    pointer-events: none;
    transition: 0.3s linear;
    .content{
      width: 100%;
      height: 100vh;
      color: #fff;
      background: $mainColor;
      border-radius: 0 0 20px 20px;
      .dragWrap{
        display: none;
        .dragIcon{
          display: none;
          .dragSpan{
            display: none;
          }
        }
      }
      .body{
        height: 100%;
        overflow: auto;
        padding: 61px 20px 40px;
        .head{
          width: 100%;
          height: 54px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .user{
            width: 90%;
            height: 54px;
            display: flex;
            align-items: center;
              .icon{
                margin: 0 10px 0 0;
              }
              .userName{
                font-size: 16px;
              }
              .userText{
                font-size: 11px;
              }
            }
          .hamburger{
            display: none;
          }
          }
        .evaluationWrrap{
          width: 100%;
          height: 146px;
          margin-top: 10px;
          padding: 4%;
          border: 1px solid #3A6577;
          background: #fff;
          color: #333;
          border-radius: 10px;
          display: block;
          align-items: center;
          .trophy{
            width: 12%;
            height: 42px;
          }
          .evaluationBox{
            width: 20%;
            .number{
              font-size: 18px;
              color: $mainColor;
              font-weight: bold;
            }
            .evaluation{
              font-size: 12px;
              font-weight: bold;
            }
          }
          .evaluationText{
            width:62%;
            color: $mainColor;
            padding: 0 0 0 2%;
            font-size: 12px;
            border-left: 0px;
          }
        }
      }
    }
  }
  .background{
    display: none;
  }
}