$mainColor: #49B4B4;
$fontColor: #0C2E2C;
$whiteColor: #fff;
$yellowColor: #FFC443;
$greenColor: #1B6B66;
$IncorrectAnswerColor:#FFDCDB;
$ExplanationColor:#76B3B3;


.bg{
  width: 100%;
  height: 100vh;
  background: $mainColor;
  position: fixed;
  .header{
    width: 100%;
    padding: 52px 24px 33px;
    display: flex;
    .backBtn{
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: fixed;
    }
    section{
      width: 100%;
      height: 40px;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  main{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction:column;
    .mainWrap{
      width: 100%;
      height: 88%;
      position: fixed;
      background: $whiteColor;
      border-radius: 20px 20px 0 0;
    }
    .ProblemStatementWrap{
      width: 100%;
      height: 300px;
      padding: 20px 16px;
      .levelBox{
        width: 82px;
        .level{
          padding: 5px 15px;
          color: $whiteColor;
          font-size: 14px;
          font-weight: bold;
          border-radius: 20px;
          width: 100%;
          background: $mainColor;
        }
      }
      .ProblemStatement{
        margin-top: 10px;
        width: 100%;
        font-size: 16px;
        color: $fontColor;
        font-weight: bold;
      }
    }
    .choiceWrap{
      width: 100%;
      height: 432px;
      overflow: auto;
      scroll-margin-bottom: 200px;
      padding: 45px 10px 0;
      background: $mainColor;
      ul{
        li{
          margin: 16px 0px;
          width: 100%;
          height: 70px;
          border-radius: 35px;
          padding: 0 30px 0 24px;
          background: $whiteColor;
          box-shadow: 0px 5px 0px #CFCFCF;
          list-style: none;
          .choiceFlex{
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 18px;
            a{
              display: block;
              text-decoration: none;
              width: 90%;
              font-size: 14px;
              font-weight: bold;
              color: $fontColor;
              padding: 0 10px;
            }
          }
        }
        .clickBox{
        width: 100%;
        height: 100%;
        align-items: normal;
          .Explanation{
            width: 100%;
            padding: 0 28px;
            .ExplanationTitle{
              font-size: 12px;
              font-weight: bold;
            }
            .ExplanationText{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
